body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}
.extra{
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255 , 255, 0.1);
    color: #000000;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    

}
.dropdown_menu.open{
    height: 240px;

}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .extra{
    width: 100%;
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style: none;
   
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 0;
    transition: background-color 0.3s;
}


.judul{
    text-align: center;
    padding-top: 30px;
}

.gallery-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.month {
    width: 300px; /* Adjust the width of the card as needed */
    margin-right: 20px; /* Add space between cards */
    border: 1px solid #ddd; /* Add border for clarity */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    padding: 20px; /* Add padding for content spacing */
}

.tanggal {
    font-weight: bold;
}

.article {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; /* Add space between documentation cards */
    padding: 30px;
}

.article img {
    width: 150px; /* Adjust the width of the image as needed */
    height: 100%; /* Make the image fill the entire height of the container */
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.article-content {
    flex: 1;
    padding: 15px; /* Adjust padding for content spacing */
}

.article h3 {
    margin: 0;
    font-size: 24px; /* Increased font size for the heading */
}

.article p {
    margin: 10px 0 0;
    font-size: 20px; /* Increased font size for the paragraph */
}





@media only screen and (max-width: 767px) {
     .container {
        padding: 0 10px;
     }
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .gallery-container {
        overflow-x: auto;
    }

    .month {
        width: calc(100% - 10px); /* Adjust width for smaller screens */
        margin-right: 0;
    }

    header nav ul li a,
    .dropdown_menu {
        display: none;
    }

    .extra{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

    h2 {
        color: #333;
        margin-top: 30px;
        margin-left: 20px;
    }

    .article {
        flex-direction: column;
    }

    .article img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .article-content {
        flex: 1;
    }

    /* ... Gaya responsif lainnya ... */
}
@media only screen and (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .extra{
        margin-right: -30%;
    }
}


